*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2a2a2a;
}

/* Nav-bar section */
.nav-section{
    padding: 2% 3% 4% 3%;
    width: 100%;
    background-color: #2a2a2a;
}
.navbar-brand{
    color: #fff;
    font-size: 180%;
    font-family: 'Merriweather', serif;
    width: 65%;
    display: inline;
    margin: 0;
}
.navbar-brand:hover{
    color: #fff;
}
.navbar-toggler{
    color: #fff;
}
.nav-link{
    color: white;
    font-size: 110%;
    margin-right: 80%;
    font-family: 'Poppins', sans-serif;
}
.nav-item a:visited{
    color: #fff;
}

.nav-link:hover{
    color: #fff;
}
.nav-item{
    margin-left:10%;
    color: #fff;
}
.navbar-nav{
    margin-right:150%;
}
.navbrand-img{
    width: 6%;
}
@media only screen and (max-width:600px){
    .navbrand-img{
        width: 15%;
    }
}
.nav-item::after{
    content: '';
    width: 0;
    height: 1.5px;
    background-color: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-item:hover::after{
    width: 100%;
}
.nav-item:active{
    width: 100%;
    color: #fff;
}
.dropdown-menu{
    background-color: #2a2a2a;
}
.dropdown-item{
    color: #fff;
}
.dropdown-item:hover{
    background-color: rgb(153, 149, 149);
    color: #fff;
}
/* After Nav Section */
.ld-row{
    width: 100%;
    margin: 0;
}
#ld-img{
    width: 96%;
    margin-top:-3%;
    margin-left: 5%;
    text-align: center;
}

.ld-right{
    padding:5%;
    text-align: center;
    margin-top: 4%;
}
#ld-head{
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 350%;
}
#ld-h4{
    font-family: 'Roboto Slab', serif;
    color: grey;
    margin: 3%;
    font-size: 170%;
}
#ld-p{
    font-family: 'Roboto Slab', serif;
    margin: 3%;
    color: grey;
    font-size: 160%;
    width: 75%;
    margin-left:10%;
}
.scn-btn{
    border:1px solid  #fff;
    color: #fff;
}
.scn-btn:hover{
    background-color: aliceblue;
    color: #2a2a2a;
}

@media only screen and (max-width:600px){
    #ld-img{
        margin-left:0;
    }
}

/* URL verification Section */
#vr{
    background-color: #2a2a2a;
    padding-bottom:8%;
}
#vr-left{
    float: left;
    padding: 8%;
    background-color: #2a2a2a;
    text-align: center;
    display: inline;
    width: 50%;
    margin-top:7%;
}
#vr-right{
    float: right;
    background-color: #2a2a2a;
    width: 50%;
    display: inline;
    text-align: center;
    padding-bottom: 8%;
}
#vr-img{
    width: 88%;
}
#vr-p{
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 270%;
}
#vr-left input[type="text"]{
    font-size: 120%;
    border: 4px solid #6c56f0;
    width: 80%;
    padding:1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:2%;
    margin-bottom:3%; 
}
#vr-left input[type="text"]:focus{
    box-shadow: 0 0 10px #5b8cc1;
}
.vr-btn{
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}
.vr-btn:hover{
    background-color: #fff;
    color: #2a2a2a;
}
@media only screen and (max-width:600px){
    #vr-left, #vr-right{
        float: none;
    }
    /*.vr-btn{
        margin-left:35%;
        margin-bottom: 10%;
    }
    #vr-left input[type="text"]{
        margin-left: 10%;
    }*/
}
/* @media only screen and (min-width:601px) and (max-width:900px){ 
    #vr-left, #vr-right{
        float: none;
    }
    .vr-btn{
        margin-left:20%;
        margin-bottom: 10%;
    }
    #vr-left input[type="text"]{
        margin-left: 6%;
    }
 } */
 .ex{
    color: red;
 }
 .prompt{
    color: red;
 }
 #vr-left input[type="text"]{
    border: 4px solid red;
 }